/*********************************************

SPLASH SCREEN BOX

*********************************************/
.splash-screen-box{
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 -5px 50px #1A1A1B;
}

.splash-screen-box h1{
    color: #F1F1F1 !important;
}
.splash-screen-box p{
    color: white;
}
.splash-screen-box button{
    background-color: #FF6C6C;
    color: #F1F1F1;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0 , 0.3);
}

.splash-screen-box button:hover {
    background-color: #A6A7B1;
}

/*********************************************

CTA

*********************************************/
.cta button{
    background-color: #1A1A1B;
    color: #F1F1F1;
}